@font-face {
    font-family: 'Superboys';
    src: url('./SuperBoys-vmW67.ttf') format('truetype');
}

body {
    font-family: 'Superboys', sans-serif;
    text-align: center;
    background: url("./Background_Calakus2.png");
    background-size: cover;
    /* overflow: hidden; */
    cursor: none;
}

#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url("./tanah4.png");
    background-size: cover;
}

#restartButton {
    width: 100px;
    height: 100px;
    background-image: url("./restart.png");
    background-size: cover;
    background-color: transparent;
    border: 0px;
}

.cursor {
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url("./palu2.png");
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active {
    transform: translate(-20%, -20%) rotate(-45deg);
}

#board div img {
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#gameStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#startButton {
    width: 200px; /* menyesuaikan gambar */
    height: 100px;
    background-image: url("./Play.png"); /* ganti foto */
    background-size: cover;
    background-color: transparent; /* hps bg gambar */
    border: none; /* hps border */
}
